#note_wrapper{
    max-height: 300px;
    overflow-y: auto;
    border : 1px dashed lightgray;
    padding : 15px;

}
.note-box{
    border : 1px solid lightgray;
    width :100%;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.31);
    margin-bottom: 10px;
    word-wrap: break-word;
}
